<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BLEPeripheral.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>apple-peripheral.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>check.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test-peripheral.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>014C63871C9A6DDA00EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C639D1C9A73A600EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C63AA1C9A782D00EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C63BD1C9A7AEE00EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C63C81C9A7B6100EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C63D71C9A7C4800EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C63E41C9A7C6400EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C63FD1C9A7DA500EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C640E1C9A7E9700EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C641F1C9B80EA00EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>014C642A1C9B9EB900EDA26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
